---
const { style } = Astro.props
---

<div class="section" style={style}>
    <slot/>
</div>

<style>
    .section {
        position: relative;
        overflow: hidden;
        width: 100%;
    }
</style>