---
import Section from "./Section.astro";
import Card from "./Card.astro";

import { cardsProjects } from '../consts/projectCards'
---

<!-- TÃTULO ---------------------------------------------->
<Section style="height: 200px">
  <p class="title">gacarbla</p>
  <style>
    :root {
      --title-color: #fff5;
      --title-size: 78px;
    }
    * {
      font-family: Arial;
    }
    p.title {
      position: relative;
      top: 50px;
      width: 100%;
      text-align: center;
      color: var(--title-color);
      font-size: var(--title-size);
      font-weight: bold;
      letter-spacing: 5px;
      margin: 0;
      animation: infinite titlebreath 20s;
    }
    @keyframes titlebreath {
      0% {
        transform: translateY(0px);
      }
      50% {
        transform: translateY(10px);
      }
      100% {
        transform: translateY(0px);
      }
    }
  </style>
</Section>

<!-- TARJETAS -------------------------------------------->

<Section style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
  <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3">
    {
      cardsProjects.map(({ Icon, label, content, color, url }) => {
        let iconColor = "";
        switch (color) {
          case "cyan":
            iconColor = "text-cyan-500 bg-cyan-500/20 rounded-full p-2";
            break;
          case "emerald":
            iconColor = "text-emerald-500 bg-emerald-500/20 rounded-full p-2";
            break;
          case "yellow":
            iconColor = "text-yellow-500 bg-yellow-500/20 rounded-full p-2";
            break;
          case "purple":
            iconColor = "text-purple-500 bg-purple-500/20 rounded-full p-2";
            break;
          case "orange":
            iconColor = "text-orange-500 bg-orange-500/20 rounded-full p-2";
            break;
          case "teal":
            iconColor = "text-teal-500 bg-teal-500/20 rounded-full p-2";
            break;
          default:
            iconColor = "text-cyan-500";
            break;
        }
        return (
          <Card class="flex flex-col items-center gap-y-2" href={`${url}`}>
            <Icon class={`size-12 ${iconColor}`} />
            <div class="text-center">
              <h3 class="text-xl font-semibold text-transparent bg-gradient-to-l from-white to-white to-60% bg-clip-text">
                {label}
              </h3>
              <p class="text-zinc-300">{content}</p>
            </div>
          </Card>
        );
      })
    }
  </div>
</Section>

<Section style="min-height: 100px;">

</Section>