---
import Header from '../components/Header.astro'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>gacarbla</title>
	</head>
	<body>
		<Header/>
		<slot />
	</body>
</html>

<style>
	:root {
		--background: #000;
	}
	* {
		user-select: none;
		-ms-user-select: none;
		-ms-touch-select: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-webkit-user-drag: none;
		-moz-window-dragging: none;
	}
	html {
		margin: 0;
		width: 100%;
		height: 100%;
		background-color: var(--background);
	}
	body {
		margin: 0;
		width: 100%;
		padding: 0px 20vw;
		height: 100%;
		background-color: transparent;
	}
</style>